@model Movie

@{
    ViewData["Title"] = "Movie Details";
}

<style>
    body {
        background-color: #1A2F40;
    }

    .card-header {
        background-color: #F4D03F;
        color: #1A2F40;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        border-bottom: 3px solid #1A2F40;
    }

    .movie-icon {
        font-size: 3rem;
        color: #F4D03F;
        margin-right: 10px;
    }

    .btn-random {
        background-color: #F4D03F;
        color: #1A2F40;
        border-radius: 25px;
        padding: 15px;
        font-size: 1.5rem;
        margin-top: 20px;
        box-shadow: 2px 2px 10px #888888;
        transition: all 0.2s ease-in-out;
    }

        .btn-random:hover {
            transform: scale(1.1);
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <div class="card-header">
                    <i class="fas fa-film movie-icon"></i> @Model.Title
                </div>
                <div class="card-body">
                    <p><strong>Year:</strong> @Model.Year</p>
                    <p><strong>Genre:</strong> @Model.Genre</p>
                    <p><strong>Rank:</strong> @Model.Rank</p>
                    <p><strong>Rating:</strong> @Model.Rating</p>
                </div>
                <div class="text-center">
                    <form method="get" action="@Url.Action("Index", "Movie")">
                        <button type="submit" class="btn-random">
                            <i class="fas fa-redo"></i>
                            Generate Another Random Movie!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/33fa818d83.js" crossorigin="anonymous"></script>
